// Grid breakpoints
$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 544px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1280px
) !default;

// Grid containers
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1280px,
) !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 1.3rem !default; // 30px

// Some configuration
$need-pull: true !default;
$need-push: true !default;
$need-offset: true !default;
