.btn {
  font-family: "paralucent"!important;
  background: $black;
  color: $white!important;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  min-height: 60px;
  border-radius: 4px;
  margin-top: 24px;

  &:hover {
    box-shadow: 0px 4px 40px rgba(37, 37, 37, 0.33);
  }
}

.button-container2 {
  height: 64px!important;

  .btn {
    display: none;
  }

  #wc-stripe-payment-request-wrapper {
    display: none;
  }
}

.wc-proceed-to-checkout,
.button-container2,
.button-container {
  position: relative;
  height: 145px;

  .btn {
    position: absolute;
    z-index: 1;
    background: #000000;
    min-height: 64px;
    margin-top: 0!important;

    &.google {
      background: #000 url("../images/gpay.png") center no-repeat;
      background-size: 23%;
    }

    &.apple {
      background: #000 url("../images/apay.png") center no-repeat;
      background-size: 21%;
    }
  }

  button,
  .checkout-button {
    position: absolute!important;
    bottom: 0;
    width: 100%;
    min-height: 64px;
  }
}

#wc-stripe-payment-request-wrapper {
  opacity: 0;
  padding-top: 0!important;
  position: absolute;
  top: 0;
  left: 0;
  clear: both;
  padding-top: 1.5em;
  display: block;
  z-index: 1000;
  height: 60px;
  width: 100%;
}

#wc-stripe-payment-request-button {
  iframe {
    height: 64px!important;
  }
}

.button-container {
  position: relative;
}

.woocommerce div.product form.cart .button {
  position: absolute;
  bottom: 0;
}