$white: #FFFFFF;
$green: #00B67A;
$light-green: #E6F8F2;
$black: #252525;
$blue: #A2D6F2;
$pink: #E7B1C2;
$red: #CA0000;
$light-red: #e6bab6;
$gray: #A5A5A5;
$dark-gray: #929292;
$medium-gray: #f8f8f8;
$light-gray: #e9e9e9;