footer.main-footer {
  background: $black;
  min-height: 174px;
  font-size: 14px;
  color: $dark-gray;
  box-sizing: border-box;
  padding: 54px 25px 0 25px;

  @media (max-width: 480px) {
	padding: 24px 15px 0 15px;
  }

  .footer-logo {
	@include media-breakpoint-down(xs) {
	  text-align: center;
	}
  }

  .footer-bar {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;

	@include media-breakpoint-down(xs) {
	  justify-content: center;
	  flex-wrap: wrap;
	  padding-bottom: 30px;

	  > * {
		display: inline-block;
		text-align: center;
	  }

	}

	.copyright {
	  width: 55%;

	  @media (max-width: 1024px) {
		width: 38%;
	  }

	  @include media-breakpoint-down(xs) {
		order: 2;
		width: 100%;
		padding: 0 30px;
	  }

	  img {
		display: inline-block;
		height: 16px;
		margin: 0 2px;
	  }
	}

	.footer-menu {
	  text-align: right;
	  margin-top: -29px;

	  @include media-breakpoint-down(xs) {
		text-align: center;
		order: 1;
		margin-top: 24px;
	  }

	  .social {
		margin: 0 12px 8px 0;

		@include media-breakpoint-down(xs) {
		  margin: 0 0 24px 0;
		}

		a {
		  margin-left: 28px;

		  @include media-breakpoint-down(xs) {
			margin-left: 0;
			& + a {
			  margin-left: 20px;
			}
		  }

		}
	  }

	  ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		margin: 0;

		@media (max-width: 768px) {
		  padding: 0;
		}

		@include media-breakpoint-down(xs) {
		  flex-wrap: wrap;
		  justify-content: center;
		  flex-direction: row;
		  margin-bottom: 30px;
		}

		li {
		  margin: 0 12px;

		  @media (max-width: 768px) {
			margin: 0 6px;
		  }

		  @include media-breakpoint-down(xs) {
			flex: 1 1 100%;

			& + li {
			  margin-top: 10px;
			}
		  }

		  a {
			transition: all 0.3s;
			color: $dark-gray;

			@include media-breakpoint-down(xs) {
			  color: $white;
			}

			&:hover {
			  color: $green;
			}
		  }
		}
	  }
	}
  }
}

footer.entry-footer {
  margin: 20px auto;

  a {
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
	color: $black;

	&:hover {
	  color: $green;
	}
  }
}