input, textarea, select {
  font-family: "paralucent-text";
  display: block;
  border: 1px solid $light-gray;
  border-radius: 4px;
  margin-top: 8px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: $black;
}

label {
  font-family: "paralucent";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $black;
}

textarea {
  height: 180px;
}

input[type="submit"] {
  font-family: "paralucent";
  transition: all 0.3s;
  background: $black;
  color: $white!important;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  min-height: 60px;
  border-radius: 4px;
  margin-top: 24px;
  border: none;
  padding: 0;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background: rgba(37, 37, 37, 0.15);
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: $white;
  }

  &:hover {
    transition: all 0.3s;
    box-shadow: 0px 4px 40px rgba(37, 37, 37, 0.33);
  }
}

select {
  display: none;
}

#select2-billing_country-container {
  padding-left: 0;
}

#billing_country_field select {
  display: block;
}

.select-selected {
  background: url("../images/select-icon.svg") right 15px center no-repeat;
  font-family: "paralucent-text";
  border: 1px solid $light-gray;
  border-radius: 4px;
  margin-top: 8px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  cursor: pointer;
}

.select-items {
  width: 100%;
}

/* style the items (options), including the selected item: */
.select-items div {
  font-family: "paralucent";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  padding: 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background: $white;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 2000;
  width: 100%;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(37, 37, 37, 0.1);
  border-radius: 4px;
}

.select-hide {
  display: none;
}

.subject .select-hide {
  display: block;
}

.subject .select-hide2 {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background: $medium-gray;
}


label.container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.woocommerce-form__label {
  &.container {
    justify-content: flex-start;
    padding-left: 0;
  }
}

label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  transition: all 0.3s;
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid rgba(37, 37, 37, 0.15);
  background: $white;
  margin-right: 8px;
}

.container:hover input:checked ~ .checkmark:after {
  transition: all 0.3s;
  opacity: 1;
  display: block;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  opacity: 0;
  display: none;
  width: 10px;
  height: 10px;
  background: $black;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  opacity: 1;
  display: block;
}

label.container {
  font-family: "paralucent-text";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  align-items: center;

  input {
    width: 50px;
    margin: 0;
  }
}

#wc-stripe-payment-request-button-separator {
  display: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.woocommerce-notice--success {
  font-family: "paralucent-text"!important;
  background: #E6F8F2!important;
  background-color: #E6F8F2!important;
  width: 110%;
  border: none;
  box-sizing: border-box;
  margin: 0 0 30px 0;
  text-align: left;
  padding: 20px 12px;
  font-weight: normal!important;
  font-size: 16px!important;
  line-height: 20px!important;
  color: $black!important;
  border-radius: 4px;
}

.woocommerce-error {
  font-family: "paralucent-text"!important;
  background: #FFE9E9!important;
  background-color: #FFE9E9!important;
  border: none;
  box-sizing: border-box;
  margin: 0 0 30px 0;
  text-align: left;
  padding: 20px 12px;
  font-weight: normal!important;
  font-size: 16px!important;
  line-height: 20px!important;
  color: $black!important;
  border-radius: 4px;
  &:before {
    display: none;
  }
}

.woocommerce-message {
  font-family: "paralucent-text"!important;
  background: $light-green!important;
  max-width: 100%;
  border: none!important;
  box-sizing: border-box;
  margin: 0 0 30px 0!important;
  text-align: left;
  padding: 20px 12px!important;
  font-weight: normal!important;
  font-size: 16px!important;
  line-height: 20px!important;
  color: $black;
  border-radius: 4px;
  &:before {
    display: none;
  }
}