header {
  border-top: 6px solid $black;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 40px;
  padding: 0 25px;

  @media (max-width: 540px) {
	padding: 0 20px;

	&.mobile-front-header {
	  background: transparent;
	  margin-bottom: 0px;
	  border-bottom: none;
	  border-top: none;
	  padding: 20px 20px 0 20px;

	  div {
		align-items: normal;

	  }
	}
  }

  div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 119px;

	@media (max-width: 480px) {
	  min-height: 64px;
	  justify-content: space-between;

	  .mobile-front {
		display: none;
	  }

	  a.mobile-logo {
		text-align: center;
		width: calc(100% - 60px);
		z-index: 2;

		&.mobile-logo-front {
		  margin-top: 40px;
		  margin-bottom: 20px;
		}
	  }
	}
  }
}

.subtext {
  display: none;

  &.mobile-front-subtext {
	position: relative;
	display: block;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	margin-top: -20px;
	z-index: 2;
  }
}

.woocommerce-page .desktop-logo img {
  max-width: none;
}