nav {
  flex-basis: 100%;

  @media (max-width: 480px) {
    flex-basis: auto;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media (max-width: 480px) {
      &#primary-menu {
        display: none;
      }
    }

    li {
      margin: 0 20px;

      &.current-page-ancestor a,
      &.current-menu-item a {
        color: $green;
      }

      a {
        font-family: "paralucent";
        font-weight: 300;
        font-size: 20px;
        color: $black;

        &:hover {
          color: $green;
        }
      }
    }
  }
}


.shopping-cart {
  background: url("../images/cart.svg") center no-repeat;
  display: block;
  position: relative;
  width: 32px;
  height: 24px;
  margin-left: 24px;

  @media (max-width: 480px) {
    margin-left: 0;
  }

  span {
    border-radius: 50%;
    background: $green;
    color: $white;
    font-weight: 600;
    font-size: 9px;
    width: 14px;
    height: 14px;
    display: block;
    text-align: center;
    line-height: 15px;
    letter-spacing: -1px;
    position: absolute;
    right: -7px;
    top: -4px;
  }
}

.mobile-logo {
  display: none;
  @media (max-width: 480px) {
    display: block;
  }
}

.desktop-logo {
  display: block;
  @media (max-width: 480px) {
    display: none;
  }
}

.mobile-icon {
  display: none;
  background: url("../images/menu-icon.svg") center no-repeat;
  width: 28px;
  height: 24px;
  z-index: 2;

  &.white {
    background: url("../images/menu-icon-home.svg") center no-repeat;
  }

  @media (max-width: 480px) {
    display: block;
  }
}

.mobile-menu {
  background: rgba(37, 37, 37, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  display: none;

  .mobile-menu-wrapper {
    display: block;
    position: fixed;
    background: $black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .close-btn {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .menu-main-container {
      display: block;
    }

    ul.menu {
      display: block;

      margin: 60px 0 0px 0;
      padding: 0;

      li {
        margin-bottom: 32px;

        &.current-menu-item a {
          color: $green;
        }

        a {
          color: $white;
          font-weight: 500;
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
  }
}