@import "shared/colors";

body {
  font-family: "paralucent-text";
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "paralucent";
  transition: all 0.3s;
  color: $black;
  margin: 0;
}

h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

h2 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 24px;

  @media (max-width: 480px) {
    font-size: 28px;
  }
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 12px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0;

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

p, span {
  font-family: "paralucent-text";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}