.form-block {
  margin: 100px 0;

  @media (max-width: 480px) {
    margin: 50px 0;
  }

  .select-selected, .select-items,
  input, textarea, select {
    width: 563px;

    &.wpcf7-not-valid {
      border: 1px solid $red;
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    p {
      order: 2;

      .ajax-loader {
        margin-top: -85px;
        margin-left: 513px;
        position: relative;
        border: 6px solid $light-gray;
        border-top: 6px solid $green;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: none;
        animation: spin 2s linear infinite;
      }
    }

    span[role='alert'] {
      display: none!important;
    }

    div[role='alert'] {
      order: 1;
      width: 563px;
      border: none;
      box-sizing: border-box;
      margin: 0;
      text-align: left;
      padding: 20px 12px;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      border-radius: 4px;

      @media (max-width: 480px) {
        width: 100%;
      }

      &.alert-danger,
      &.alert-warning {
        background: #FFE9E9;
      }

      &.alert-success {
        background: $light-green;
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wpcf7-form .message-contact {
  margin: 0 0 24px 0;
}