.hero-block {
  display: flex;
  padding: 0 25px;
  position: relative;

  @media (max-width: 768px) {
	display: block;
  }

  @media (max-width: 540px) {
	&::before {
	  content: '';
	  position: absolute;
	  top: -126px;
	  right: 0;
	  left: 0;
	  background: url('../images/home-m01.png') center bottom no-repeat;
	  width: 100%;
	  height: 415px;
		background-size: cover!important;
	}
  }

  @media (max-width: 480px) {
	padding: 0;
	flex-direction: column;
	display: flex;
  }

  .picture {
	margin-right: 85px;
	min-width: 540px;
	text-align: center;
	position: relative;

	img.desktop {
	  display: block;

	  @media (max-width: 480px) {
		display: none;
	  }
	}

	img.mobile {
	  display: none;

	  @media (max-width: 480px) {
		display: block;
	  }
	}

	@media (max-width: 1024px) {
	  min-width: 500px;
	  margin-right: 55px;
	}

	@media (max-width: 540px) {
	  min-width: auto;
	  margin-right: 0;
	  order: 2;
	  background: transparent;
	  position: absolute;
	  z-index: 2;
	  width: 100%;
	  top: 90px;
	}

	@media (max-width: 768px) {
	  margin: 0;
	}


	img {
	  max-width: 100%;
	  margin: 0 auto;
	  @media (max-width: 480px) {
		  margin: 0px auto 0 auto;
		  max-width: 315px;
	  }
	}

	.ready-to-order {
	  background: $white;
	  box-shadow: 0 4px 50px rgba(37, 37, 37, 0.15);
	  border-radius: 4px;
	  box-sizing: border-box;
	  padding: 32px 62px;
	  max-width: 460px;
	  position: relative;
	  //top: 40px;
	  bottom: 140px;
	  margin: 0 auto;

	  @media (max-width: 1024px) {
		max-width: 400px;
	  }

	  @media (max-width: 768px) {
		max-width: 460px;
	  }

	  @media (max-width: 540px) {
		box-shadow: none;
		background: transparent;
		max-width: 100%;
		padding: 0 20px;
		top: 0;
		margin-top: 70px;
	  }

	  h3 {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;

		@media (max-width: 480px) {
		  display: none;
		}
	  }

	  span {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: $black;
		margin-bottom: 24px;
		display: block;

		@media (max-width: 480px) {
		  display: none;
		}
	  }

	  .colors {
		display: flex;
		justify-content: center;

		@media (max-width: 480px) {
		  display: none;
		}

		span {
		  margin: 0 12px 0 0;
		  border-radius: 50%;
		  width: 25px;
		  height: 25px;
		}
	  }

	  .btn {
		margin-top: 24px;
		background-color: #00B67A;
		@media (max-width: 480px) {
		  margin: 0;
		  position: relative;
		  z-index: 1;

		  &:before {
			content: 'Available Now';
			font-family: "paralucent-text";
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
			position: absolute;
			top: -35px;
			left: 0;
			width: 100%;
			text-align: center;
			color: $black;
		  }
		}

		@media (max-width: 540px) {
		  background-color: #252525;
		}
	  }

	  div.continue {
		background: url("../images/continue.svg") center no-repeat;
		width: 100%;
		height: 10px;
		display: none;
		margin-top: 20px;

		@media (max-width: 480px) {
		  display: block;
		}
	  }
	}
  }

  .content {
	@media (max-width: 768px) {
	  margin-top: 70px;
	}

	@media (max-width: 480px) {
	  margin-top: -85px;
	  order: 1;
	}

	h2 {
	  margin: 18px 0 100px 0;
	  position: relative;

	  @media (max-width: 768px) {
		margin: 0;
		padding: 18px 0 40px 0;
		background: transparent;
		margin-top: -2px;
	  }

	  p {
		font-family: "paralucent";
		font-weight: 500;
		font-size: 32px;
		line-height: 40px;
		margin: 0;

		@media (max-width: 480px) {
		  font-family: "paralucent-text";
		  color: $white;
		  font-weight: normal;
		  font-size: 16px;
		  line-height: 20px;
		  text-align: center;
		  padding: 0 22px;
			margin: 24px 0 0 0;
		}

		@media (max-width: 1024px) {
		  br {
			display: none;
		  }
		}
	  }
	}

	.stars {
	  display: flex;
	  z-index: 2;
	  @media (max-width: 540px) {
		background-color: transparent;
	  }
	  @media (max-width: 480px) {
		justify-content: center;
		padding-bottom: 55px;
	  }

	  @media (max-width: 540px) {
		position: relative;
		z-index: 0;
	  }

	  span {
		background: url("../images/star.svg") center no-repeat;
		display: block;
		width: 16px;
		height: 16px;
		margin-right: 5px;
	  }
	}

	.advantages {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  background: $white;

	  @media (max-width: 540px) {
		background-color: transparent;
	  }

	  @media (max-width: 480px) {
		padding-top: 560px;
		padding-left: 20px;
		padding-right: 20px;

		display: block;
	  }

	  .advantage-item {
		padding-right: 24px;
		margin-bottom: 40px;
		box-sizing: border-box;
		width: 50%;

		@media (max-width: 480px) {
		  width: 100%;
		  padding-right: 0;

		  &:last-of-type {
			margin-bottom: 0;
		  }
		}

		.icon {
		  border-radius: 50%;
		  background: $light-green;
		  margin: 0 auto 12px auto;
		  width: 80px;
		  height: 80px;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;

		  @media (max-width: 480px) {
			float: left;
			margin-right: 16px;
			width: 56px;
			height: 56px;

			img {
			  width: 50%;
			}
		  }
		}

		h3 {
		  text-align: center;
		  font-weight: 500;
		  font-size: 20px;
		  line-height: 24px;

		  @media (max-width: 480px) {
			text-align: left;
			margin-bottom: 4px;
		  }
		}

		span {
		  display: block;
		  text-align: center;
		  line-height: 20px;

		  @media (max-width: 480px) {
			text-align: left;
		  }
		}
	  }
	}
  }
}