.ready-to-get {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 200px 0;

  @media (max-width: 768px) {
	display: block;
	margin: 100px 0;
  }

  .picture {
	width: 100%;
	text-align: center;
	margin: 0 auto 30px;

	img {
	  margin: 0 auto;
	  max-width: 100%;
	}

	@media (max-width: 768px) {
	  width: 100%;
	  margin-bottom: 40px;
	}

	@media (max-width: 480px) {
	}
  }

  .content {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;

	  @media (max-width: 480px) {
		  h3 {
			  margin-bottom: 4px;
		  }
	  }

	span {
	  font-weight: normal;
	  font-size: 16px;
	  line-height: 20px;
	  color: $black;
	  margin-bottom: 24px;
	  display: block;

		@media (max-width: 480px) {
			margin-bottom: 32px;
		}
	}

	.colors {
	  display: flex;
	  justify-content: center;

	  span {
		margin: 0 12px 0 0;
		border-radius: 50%;
		width: 25px;
		height: 25px;
	  }
	}

	.btn {
	  margin-top: 24px;

		@media (max-width: 480px) {
			margin-top: 40px;
		}
	}
  }
}