.support-block {
  margin: 100px 0 280px 0;

  @media (max-width: 768px) {
    margin: 50px 0 180px 0;
  }

  @media (max-width: 480px) {
    margin: 30px 0 80px 0;
  }

  .support-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;

    .item {
      cursor: pointer;
      margin-right: 24px;
      background: $medium-gray;
      border-radius: 6px;
      box-sizing: border-box;
      padding: 41px 0px;
      min-width: 230px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;

      @media (max-width: 480px) {
        min-width: calc(50% - 10px);
        margin-right: 20px;
        padding: 10px 0 0 0px;

        &:nth-child(even) {
          margin-right: 0;
        }
      }

      .item-icon {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        margin-bottom: 12px;
        background: $light-green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 480px) {
          margin-bottom: 0;
        }
      }

      &:hover {
        background: $light-green;
      }
    }
  }

  p {
    margin: -7px 0 0 0;
    line-height: 35px;
  }
}