
.everyday-block,
.technology-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 200px 0;

  a {
	margin-top: 100px;
	display: none;
  }

  @media (max-width: 768px) {
	margin: 100px 0;
  }

  @media (max-width: 540px) {
	br {
	  display: none;
	}
	flex-wrap: wrap;
	.content {
	  order: 2;
	}
	.picture {

		margin-bottom: 40px;
	  order: 1;
	}
  }

  .content {
	  flex-basis: 60%;
	margin-right: 85px;

	@media (max-width: 768px) {
	  margin: 0 0 40px 0;
	}

	@media (max-width: 480px) {
	  margin: 0 0 8px 0;
		flex-basis: 100%;

	  h3 {
		margin-top: 30px;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		text-align: left;
	  }
	}

	span {
	  margin-bottom: 32px;

	  p {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
	  }
	}

	ol {
	  list-style: none;
	  padding: 0;
	  counter-reset: tech-counter;
	  margin-top: 33px;

	  @media (max-width: 480px) {
		//display: none;
	  }

	  li {
		counter-increment: tech-counter;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 14px;
		position: relative;
		padding: 0 0 0 34px;

		&:before {
		  content: counter(tech-counter);
		  display: block;
		  width: 26px;
		  text-align: center;
		  height: 26px;
		  border: 1px solid #00B67A;
		  box-sizing: border-box;
		  position: absolute;
		  left: 0;
		  top: 50%;
		  margin-top: -13px;
		  border-radius: 50%;
		  font-weight: 500;
		  font-size: 14px;
		  line-height: 24px;
		  color: $green;
		}
	  }
	}
  }

  .picture {
	background: #C4C4C4;

	@media (max-width: 480px) {
	  background: transparent;
	}

	img {
	  display: block;
	  padding: 0;
	  margin: 0 auto;
	  max-width: 100%;

	  &.desktop {
		display: block;
	  }

	  &.mobile {
		display: none;
	  }

	  @media (max-width: 480px) {
		&.desktop {
		  display: none;
		}

		&.mobile {
		  display: block;
		}
	  }
	}
  }
}

.everyday-wrapper {
  background-color: #f8f8f8;
  padding: 200px 0;
  margin: 0;

  @media (max-width: 768px) {
	padding: 60px 0;
  }

  @media (max-width: 540px) {
	padding: 100px 0;
  }

  .everyday-block {
	margin: 0;
	justify-content: flex-start;

	ol {
	  @media (max-width: 480px) {
		display: block;
	  }
	}

	.content {
	  margin-left: 87px;
	  margin-right: 0;

	  @media (max-width: 991px) {
		margin: 0 0 0 40px;
	  }

	  @media (max-width: 768px) {
		margin: 0;
		h3 {
		  text-align: left;
			margin: 0;
			line-height: 10px;
		}
		span {
		  display: block;
		}
	  }

	}
  }

  .btn {
	@media (max-width: 540px) {
	  order: 3;
	}
  }

  .picture {

	background: transparent;

	@media (max-width: 768px) {
	  margin-bottom: 40px;
	}

	@media (max-width: 480px) {
	  background: transparent;
	}

  }

}

.technology-block {
  margin-top: 0;
}

.technology-block {
  a {
	margin-top: 100px;
	display: none;
	& {
	  @media (max-width: 540px) {
		margin-top: 10px;
		order: 3;
		display: block;
	  }
	}
  }
}