.text-block {
  max-width: 734px;
  margin: 0 auto;
  padding: 24px 0;
  box-sizing: border-box;

  @media (max-width: 480px) {
	padding: 12px 15px;
  }

  &:last-of-type {
	margin-bottom: 140px;

	@media (max-width: 480px) {
	  margin-bottom: 50px;
	}
  }

  .image-container {
	display: flex;
	justify-content: center;

	&.four-image {
	  @media (max-width: 540px) {
		flex-wrap: wrap;
		> * {
		  flex: 1 1 50%;
		  max-width: 48%;
		}
	  }
	}

	img {
	  max-width: 100%;
	}

	div {
	  width: 100%;
	  height: 320px;

	  &:first-of-type {
		margin-right: 30px;
	  }

	  @media (max-width: 480px) {
		height: auto;
		&:first-of-type {
		  margin-right: 0;
		}
	  }
	}

	&.two-images {
	  display: flex;
	  justify-content: space-between;

	  @media (max-width: 540px) {
		flex-wrap: wrap;
	  }
	  img {
		width: calc(50% - 15px);

		@media (max-width: 540px) {
		  width: 100%;

		  & + img {
			margin-top: 20px !important;
		  }
		}
	  }
	}
  }

  @media (max-width: 480px) {
	overflow: auto;
	height: 100%;
  }
  img {
	margin-top: 40px;
	width: 100%;
	height: 100%;
	overflow: auto;

	@media (max-width: 480px) {
	  margin-top: 16px;
	  line-height: 0;

	  &:first-of-type {
		margin-right: 0;
	  }
	}
  }

  ol {
	margin: 0;
	padding: 0 0 0 18px;

	li {
	  font-weight: normal;
	  font-size: 16px;
	  line-height: 24px;
	  color: $black;
	  padding: 0 0 12px 6px;

	  &:last-of-type {
		padding: 0 0 0 6px;
	  }
	}
  }

  a {
	color: $green;
	opacity: 1;

	&.btn {
	  margin-top: 48px;
	}
  }

  .col-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -30px;
	p {
	  margin-top: 0;
	}

	@media (max-width: 540px) {
	  flex-wrap: wrap;
	  margin-top: 0;
	  justify-content: center;
	  ol {
		order: 2;
	  }
	  p {
		order: 1;
	  }
	}
  }
}

.mobile-strong {
  font-family: 'paralucent';
  font-weight: 500;
  font-size: 32px;
  @media (max-width: 540px) {
	font-family: 'paralucent-text';
	font-size: 16px;
	font-weight: 700;
  }
}