.trustpilot-block {
  background: $medium-gray;
  box-sizing: border-box;
  padding: 100px 0;
  margin: 200px 0;

  @media (max-width: 768px) {
    margin: 100px 0;
  }

  @media (max-width: 480px) {
    padding: 0px 0;
    background: transparent;
  }

  .trustpilot-wrapper {
    max-width: 690px;
    margin: 0 auto;

    @media (max-width: 480px) {
      padding: 0 30px;
    }

    h3 {
      width: fit-content;
      margin: 0 auto 10px auto;
      padding-left: 30px;
      background: url("../images/trustpilot-icon.svg") left center no-repeat;
    }

    .rate {
      display: flex;
      margin: 0 auto 15px auto;
      justify-content: center;

      span {
        background: $green url("../images/trustpilot-star.svg") center no-repeat;
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 2px;
      }
    }

    .review {
      font-family: "paralucent";
      margin-bottom: 60px;
      display: block;
      text-align: center;
      font-weight: normal;
      color: rgba(37, 37, 37, 0.8);

      strong {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }

      u {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .reviews-block {
      display: flex;
      justify-content: space-between;

      @media (max-width: 480px) {
        display: block;
        justify-content: center;
      }

      .review-item {
        width: 50%;
        box-sizing: border-box;
        display: flex;

        @media (max-width: 480px) {
          width: 100%;
        }

        &:first-of-type {
          padding-right: 30px;

          @media (max-width: 480px) {
            padding-right: 0px;
          }
        }

        &:last-of-type {
          padding-left: 30px;

          @media (max-width: 480px) {
            padding-left: 0px;
            margin-top: 24px;
          }
        }

        .picture {
          display: block;
          width: 56px;
          height: 56px;
          border-radius: 50%;
          margin-right: 16px;
        }

        .content {
          font-family: "paralucent";

          p {
            line-height: 20px;
            margin: 4px 0;
          }

          strong {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}