.cart-block {
  margin-bottom: 100px;

  form {
	display: flex;
	justify-content: space-between;

	@media (max-width: 480px) {
	  display: block;
	}
  }

  .cart-items {
	width: 60%;
	margin-right: 109px;
	margin-bottom: 100px;

	@media (max-width: 480px) {
	  width: 100%;
	  margin-right: 0;
	}

	[name='update_cart'] {
	  display: none;
	}

	.item {
	  display: flex;
	  justify-content: space-between;
	  box-sizing: border-box;
	  padding-bottom: 24px;
	  margin-bottom: 24px;
	  border-bottom: 1px solid $light-gray;

	  &:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	  }

	  .picture {
		flex-basis: 100%;
		max-width: 145px;
		margin-right: 24px;
		background: rgba(37, 37, 37, 0.03);
		text-align: center;

		img {
		  width: 90%;
		  margin: 0 auto;
		}
	  }

	  .info {
		flex-basis: 100%;
		position: relative;

		@media (max-width: 480px) {
		  .variation-Size {
			p {
			  font-size: 14px !important;
			}
		  }
		}
		span {
		  font-weight: normal;
		  font-size: 16px;
		  line-height: 24px;
		  color: $dark-gray;
		  display: flex;

		  .variation {
			display: inline;
			margin: 0 0 0 4px;

			dt {
			  display: none;
			}

			dd {
			  margin: 0;

			  p {
				margin: 0;
			  }
			}
		  }
		}

		.quantity-container {
		  display: flex;
		  align-items: center;
		  position: absolute;
		  bottom: 0;
		  left: 0;

		  .quantity input {
			font-family: "paralucent";
			pointer-events: none;
			border: none;
			background: transparent;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: $black;
			text-align: center;
			width: 34px;
			padding: 0;
			margin: 0 6px;
		  }

		  .plus,
		  .minus {
			display: block;
			border: 1px solid $light-gray;
			border-radius: 50%;
			width: 30px;
			height: 30px;

			&:hover {
			  border: 1px solid $green;
			}
		  }

		  .plus {
			background: url("../images/plus.svg") center no-repeat;
			margin-left: -5px;
		  }

		  .minus {
			background: url("../images/minus.svg") center no-repeat;
		  }
		}
	  }

	  .price {
		text-align: right;

		span.discount {
		  color: #CA0000;
		  font-weight: 400;
		}
	  }

	  .price span {
		font-family: "paralucent";
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	  }

	}
  }

  .cart-totals {
	width: 40%;

	@media (max-width: 480px) {
	  width: 100%;
	  margin-top: 34px;

	  .apple, .google {
		min-height: 48px;
	  }
	}

	.cart-collaterals {
	  .woocommerce-remove-coupon {
		font-size: 0;
		&::before {
		  content: 'X';
		  font-size: 16px;
		  color: #CA0000;
		  font-weight: 800;
		  position: relative;
		  top: -2px;
		}
	  }

	  .cart-discount {
		display: flex;
		justify-content: space-between;
		th {
		  padding-left: 0;
		}
		td {
		  padding-right: 5px;
		}
	  }
	  .cart_totals {
		float: none;
		width: 100%;

		table.shop_table {
		  border: none;
		}

		.delivery {
		  font-family: "paralucent";
		  font-weight: 500;
		  font-size: 16px;
		  line-height: 20px;
		  margin-top: 12px;
		  display: block;
		}

		#shipping_method {
		  display: none;
		}

		.total,
		.subtotal {
		  display: flex;
		  justify-content: space-between;
		}

		.total {
		  margin-top: 60px;

		  @media (max-width: 480px) {
			margin-top: 30px;
			padding-top: 30px;

			border-top: 1px solid $light-gray;
		  }
		}

		.promo {
		  margin-top: 24px;

		  label {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		  }

		  span {
			width: 100%;
			font-family: "paralucent";
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 4px;
		  }

		  input {
			width: calc(100% - 100px);
			border-right: none;
			border-radius: 4px 0px 0px 4px;
			margin-top: 0;
		  }

		  button {
			font-family: "paralucent";
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			border: 1px solid $light-gray;
			background: $medium-gray;
			border-radius: 0px 4px 4px 0px;
			color: rgba(37, 37, 37, 0.8);
			box-sizing: border-box;
			height: 54px;
			width: 100px;
		  }
		}
	  }

	  .amount, .woocommerce-Price-currencySymbol {
		font-family: "paralucent";
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
	  }

	  .checkout-button {
		font-family: "paralucent";
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		background: $medium-gray;
		border: 1px solid rgba(37, 37, 37, 0.15);
		box-sizing: border-box;
		border-radius: 4px;
		color: rgba(37, 37, 37, 0.8);
		box-sizing: border-box;
		padding: 20px 0;
		z-index: 10000000000;

		&.primary {
		  background: $black;
		  color: $white;
		  font-size: 20px;

		  &:hover {
			background: $black;
			color: $white;
			box-shadow: 0px 4px 40px rgba(37, 37, 37, 0.33);
			border: 1px solid rgba(37, 37, 37, 0.15);
		  }
		}

		@media (max-width: 480px) {
		  padding: 13px;
		  min-height: 48px;
		}

		&:hover {
		  background: rgba(37, 37, 37, 0.03);
		  border: 1px solid #252525;
		  color: #252525;
		}
	  }
	}
  }
}

.woocommerce-notices-wrapper {
  max-width: 1072px;
  margin: 0 auto;

  .woocommerce-message {
	background: transparent;
	border: none;
	font-family: "paralucent";
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 40px;
	padding: 0em 0em 0em 1.5em;

	&:before {
	  top: 0;
	  left: 0;
	}
  }
}

.cart-empty {
  max-width: 1072px;
  margin: 0 auto;
  background: transparent;
  border: none;
  font-family: "paralucent";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 0em 0em 0em 1.5em;
  width: fit-content;

  &:before {
	top: 0;
	left: 0;
  }
}

.return-to-shop {
  text-align: center;

  a {
	font-family: "paralucent" !important;
	background-color: $black !important;
	color: $white !important;
	display: block;
	text-align: center;
	font-weight: 500 !important;
	font-size: 20px !important;
	line-height: 40px !important;
	min-height: 40px !important;
	border-radius: 4px !important;
	margin: 24px auto 0 auto !important;
	width: 480px;

	&:hover {
	  opacity: 1 !important;
	  background-color: $green !important;
	  box-shadow: 5px 8px 15px 0 $dark-gray;
	}
  }
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(37, 37, 37, 0.8);
  z-index: 100000000;

  .modal-wrapper {
	background: $white;
	width: 471px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -235px;
	margin-top: -260px;
	padding: 80px 60px 32px 60px;
	border-radius: 4px;

	.button-container {
	  display: none;

	  @media (max-width: 480px) {
		display: block;
		height: 50px;
		margin-top: 24px;

		.google,
		.apple {
		  min-height: 48px;
		}
	  }
	}

	@media (max-width: 480px) {
	  width: 90%;
	  left: 5%;
	  margin-left: 0;
	  padding: 80px 20px 32px 20px;
	}

	&:before {
	  content: '';
	  background: $green url("../images/complete.svg") center no-repeat;
	  display: block;
	  border-radius: 50%;
	  width: 80px;
	  height: 80px;
	  position: absolute;
	  left: 50%;
	  margin-left: -40px;
	  top: -40px;
	}

	h3 {
	  text-align: center;
	  font-weight: 500;
	  font-size: 28px;
	  line-height: 32px;
	  margin: 0 auto 40px auto;
	}

	.info-block-total,
	.info-block {
	  display: flex;
	  align-items: center;
	  width: 227px;
	  margin-bottom: 4px;

	  @media (max-width: 480px) {
		width: 185px;
		margin-bottom: 0;
	  }

	  h5 {
		margin-top: 12px;
		width: 50%;

		&:last-of-type {
		  text-align: right;
		}
	  }

	  span {
		display: block;
		width: 50%;
		text-align: right;
		margin: 0;

		&.gray {
		  text-align: left;
		  color: rgba(37, 37, 37, 0.5);
		}
	  }
	}

	span {
	  font-family: "paralucent";
	  margin-top: 4px;
	  margin-bottom: 16px;
	  display: block;
	  font-weight: 300;
	  @media (max-width: 480px) {
		margin-top: 0;
		margin-bottom: 8px;
	  }
	}

	.view_cart {
	  font-family: "paralucent";
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 20px;
	  background: $medium-gray;
	  border: 1px solid rgba(37, 37, 37, 0.15);
	  box-sizing: border-box;
	  border-radius: 4px;
	  color: rgba(37, 37, 37, 0.8);
	  padding: 20px 0;
	  display: block;
	  text-align: center;
	  width: 100%;
	  margin-top: 20px;

	  &.primary {
		background: $black;
		color: $white;
		font-size: 20px;

		&:hover {
		  background: $black;
		  color: $white;
		  box-shadow: 0px 4px 40px rgba(37, 37, 37, 0.33);
		  border: 1px solid rgba(37, 37, 37, 0.15);
		}
	  }

	  @media (max-width: 480px) {
		padding: 13px 0;
	  }

	  &:hover {
		background: rgba(37, 37, 37, 0.03);
		border: 1px solid #252525;
		color: #252525;
	  }
	}

	hr {
	  display: block;
	  margin-top: 20px;
	  border: 1px solid $light-gray;
	}

	.keep_shopping {
	  font-family: "paralucent";
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 20px;
	  color: rgba(37, 37, 37, 0.8);
	  margin: 32px auto 0 auto;
	  display: block;
	  text-align: center;

	  &:hover {
		color: $black;
	  }
	}

	.product-block {
	  display: flex;

	  .product-picture {
		width: 100px;
		height: 100px;
		margin-right: 24px;
		background-size: 90% !important;
		background-color: rgba(37, 37, 37, 0.03) !important;

		@media (max-width: 480px) {
		  margin-right: 10px;
		}
	  }
	}
  }
}

.wc-proceed-to-checkout {
  height: 64px;
}

.button_container {
  position: relative;
  min-height: 160px;
}

@media (max-width: 480px) {
  .wc-proceed-to-checkout {
	display: flex;
	height: auto;

	.button_container {
	  display: block;
	  width: 48%;
	  position: relative !important;
	  height: 48px;

	  .apple {
		background-size: 32%;
	  }

	  .google {
		background-size: 42%;
	  }
	}

	.checkout-button {
	  width: 100%;
	  left: 15px !important;
	  margin-left: 100% !important;
	  top: 0;
	  height: 48px;
	}
  }
}

.return-to-shop {
  a {
	width: 315px;
	max-width: 80%;
	margin: 0 15px;

	&:hover {
	  background: $black !important;
	  box-shadow: 0px 4px 40px rgba(37, 37, 37, 0.33);
	}
  }
}

.cart-empty {
  font-family: 'paralucent-text';
  font-size: 14px;
  background: #FFE9E9;
  border-radius: 4px;
  width: 335px;
  color: #252525;
  padding: 12px;
  text-align: center;

  &:before {
	display: none;
  }
}

@media (max-width: 480px) {
  .cart-empty {
	width: 84%;
  }
}

.woocommerce-cart {
  .woocommerce-message {
	max-width: 100%;
  }
}