#tracking_field {
  display: none;
}

.shipping_address {
  &.non-checked {
	display: block !important;
  }

  &.checked {
	display: none !important;
  }
}

.woocommerce-shipping-fields__field-wrapper select {
  display: block;
}

#payment {
  input[type="radio"] {
	width: 18px;
	height: 18px;
	margin: -2px 0 0 0 !important;
	z-index: 5;
	opacity: 0;
  }

  li {
	position: relative;
  }

  .checkmark {
	position: absolute;
	top: 21px;
	left: 15px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-radius: 50%;
	border: 1px solid rgba(37, 37, 37, 0.15);

	&:before {
	  transition: all 0.3s;
	  content: "";
	  display: none;
	  opacity: 1;
	  position: absolute;
	  border-radius: 50%;
	  width: 8px;
	  height: 8px;
	  background: rgba(37, 37, 37, 0.8);
	  left: 50%;
	  top: 50%;
	  margin-top: -4px;
	  margin-left: -4px;
	}
  }

  .container input:checked ~ .checkmark:before {
	opacity: 1;
	display: block;
  }

  .container input:checked ~ .checkmark:after {
	opacity: 0;
	display: none;
  }
}

#shipping_method {
  input {
	width: 18px;
  }
  .checkmark {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 16px;
	height: 16px;
	z-index: 1;
	border-radius: 50%;
	border: 1px solid rgba(37, 37, 37, 0.15);

	&:before {
	  transition: all 0.3s;
	  content: "";
	  display: none;
	  opacity: 1;
	  position: absolute;
	  border-radius: 50%;
	  width: 8px;
	  height: 8px;
	  background: rgba(37, 37, 37, 0.8);
	  left: 50%;
	  top: 50%;
	  margin-top: -4px;
	  margin-left: -4px;
	}
  }

  .container input:checked ~ .checkmark:before {
	opacity: 1;
	display: block;
  }

  .container input:checked ~ .checkmark:after {
	opacity: 0;
	display: none;
  }
}

#customer_details #shipping_method li {
  border: 1px solid transparent;
  position: relative;

  input {
	opacity: 0;
	position: relative;
	z-index: 5;
  }
}

#customer_details #shipping_method li.active {
  border: 1px solid $black;
}

#customer_details #payment li:before {
  border: 1px solid transparent;
}

#customer_details #payment li.active:before {
  border: 1px solid $black;
}

.woocommerce-checkout #content #payment .wc_payment_methods > li {
  padding: 5px 0 5px 0px !important;
}

.woocommerce-checkout #content #payment .wc_payment_methods > li > label {
  padding-left: 40px !important;
}

.woocommerce-checkout #content #payment .wc_payment_methods > li .payment_box {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#payment {
  #wc-stripe-payment-request-wrapper {
	display: none !important;
  }

  img {
	display: none;
  }

  li.payment_method_stripe {
	background: url("../images/card.png") top 15px right no-repeat;
	background-size: 48%;
  }

  li.payment_method_apple {
	background: url("../images/apple-icon.png") top 20px right no-repeat;
  }

  li.payment_method_paypal {
	background: url("../images/paypal.png") top 18px right no-repeat;
  }

  li.payment_method_utrust_gateway {
	background: url("../images/utrust.png") top 15px right no-repeat;
  }

  li.payment_method_google {
	background: url("../images/google-pay.png") top 20px right no-repeat;
	background-size: 20%;
  }

  div.payment_method_offline_gateway {
	display: none !important;
  }
}

.site-content #content {
  padding: 0 !important;
}

.woocommerce-checkout {
  .woocommerce-remove-coupon {
	font-size: 0;
	&::before {
	  content: 'X';
	  font-size: 16px;
	  color: #CA0000;
	  font-weight: 800;
	  position: relative;
	  top: -2px;
	}
  }
  #content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 15px;

	.woocommerce-error {
	  font-size: 14px;
	  background-color: rgba($red, .6);
	  color: #fff;
	}

	#payment_heading,
	#shipping_header,
	#delivery_heading {
	  font-weight: 400;
	}

	.woocommerce-privacy-policy-text {
	  display: none;
	}

	.woocommerce-terms-and-conditions-link {
	  color: $green;
	  &:hover {
		text-decoration: underline;
	  }
	}

	#order_review {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  margin-bottom: 150px;
	}

	#shipping_city_field,
	#shipping_postcode_field,
	#billing_postcode_field,
	#billing_city_field {
	  overflow: visible;
	  clear: none;
	}

	#billing_postcode_field,
	#shipping_postcode_field {
	  width: 23%;
	  float: left;
	}

	#shipping_city_field,
	#billing_city_field {
	  width: 72%;
	  float: right;
	}

	#ship_heading {
	  margin-top: 30px;
	  margin-bottom: 10px;
	  font-weight: 400;
	}

	#shipping_last_name_field,
	#shipping_first_name_field,
	#billing_first_name_field,
	#billing_last_name_field {
	  float: none;
	  width: calc(100% - 6px);
	  padding-left: 3px;
	  padding-right: 3px;
	}

	.woocommerce-shipping-fields {
	  @include media-breakpoint-down(xs) {
		margin-bottom: 30px;
	  }
	}

	#ship-to-different-address {
	  margin-top: 15px;
	  #ship-to-different-address-checkbox {
		float: left;
		margin-right: 10px;
	  }
	}

	#wc-stripe-new-payment-method {
	  float: left;
	  margin-right: 10px;
	}

	#privacy-link {
	  a {
		color: $green;
		&:hover {
		  text-decoration: underline;
		}
	  }
	}

	.woocommerce-SavedPaymentMethods-saveNew label {
	  position: relative;
	  top: -10px;
	  font-weight: 400;
	}

	.wc-stripe-elements-field {
	  @extend input;
	  margin-bottom: 20px;
	}

	.select2-selection {
	  @extend input;
	  padding: 26px 16px;

	  #select2-shipping_country-container,
	  #select2-billing_country-container {
		position: relative;
		top: -12px;
	  }

	  .select2-selection__arrow {
		top: 21px;
		right: 11px;
	  }
	}

	.woocommerce-billing-fields {
	  position: relative;
	  padding-top: 160px;

	  label {
		text-transform: capitalize;
	  }

	  #billing_email_field {
		position: absolute;
		top: -12px;
		left: 0;
		right: 0;
		max-width: 570px;

		label {
		  font-size: 24px;
		  font-weight: 400;
		  line-height: 1.8;
		  padding-bottom: 10px;

		}
	  }
	}

	.woocommerce-checkout-review-order-table {
	  order: 2;
	  font-size: 24px;
	  font-weight: 500;
	  line-height: 28px;
	  border: none;
	  margin: 60px 0 40px 0;

	  tr:not(.order-total) td,
	  tr th {
		border: none;
		padding: 0;
	  }

	  tr.cart-delivery {
		padding-bottom: 10px;
	  }

	  tr.order-total td {
		padding-right: 0;
	  }

	  .woocommerce-Price-currencySymbol,
	  .amount,
	  tr th {
		font-size: 24px;
		font-weight: 400;
		font-family: "paralucent";
		line-height: 28px;
	  }

	  tr td {
		text-align: right;
		width: 25%;
	  }

	  .cart_item,
	  thead {
		display: none;
	  }
	}

	#place_order {
	  display: block;
	  font-size: 20px;
	  float: none;
	  width: 100%;
	  font-weight: 400;
	  font-family: "paralucent";
	  color: #fff;
	  background-color: $black;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  transition: .3s ease all;
	  position: relative !important;

	  &:hover {
		box-shadow: 0px 4px 40px rgba(37, 37, 37, 0.33);
	  }
	}

	#payment {
	  background-color: transparent;
	  border: none;
	  padding: 0;
	  order: 1;
	  margin-top: 50px;
	  width: 100%;
	  .wc_payment_methods {
		border: none;
		padding: 0;
		> li {
		  background-color: transparent;
		  padding: 5px 15px;
		  border-radius: 4px;
		  position: relative;
		  min-height: 60px;

		  &.payment_method_utrust_gateway {
			.payment_method_utrust_gateway {
			  display: none !important;
			}
		  }

		  &::before {
			content: '';
			height: 60px;
			width: 100%;
			z-index: -1;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			background-color: $medium-gray;
			border-radius: 4px;
		  }

		  &.payment_method_stripe {
			.payment_method_stripe {
			  width: auto;
			}
			img {
			  margin-top: -5px;
			}
		  }

		  &.payment_method_paypal {
			img {
			  margin-top: -18px;
			}

			.payment_method_paypal {
			  margin: 0;
			}
		  }

		  .input-radio {
			position: absolute;
			top: 23px;
			left: 15px;
		  }

		  > label {
			padding-left: 25px;
			padding-top: 15px;
			position: relative;
			display: block;

			img {
			  float: right;
			}
		  }

		  .payment_box {
			background-color: transparent;
			margin-top: 30px;
			margin-left: -15px;
			margin-right: -15px;

			p {
			  margin-top: 0;
			  display: none;
			}
		  }

		  .about_paypal {
			display: none;
		  }
		}
	  }
	}
  }

  ul#shipping_method {
	li {
	  background-color: $medium-gray;
	  padding: 15px;
	  border-radius: 4px;

	  input {
		float: left;
	  }

	  label {
		display: flex;
		justify-content: space-between;
	  }

	  p {
		line-height: 1;
		padding-left: 25px;
		margin: 0;
		color: $dark-gray;
		font-weight: 500;
		font-family: "paralucent";
	  }

	  & + li {
		margin-top: 10px;
	  }

	  .woocommerce-Price-currencySymbol,
	  .amount {
		font-weight: 500;
		font-family: "paralucent";
	  }
	}
  }

  .col2-set .col-2 {
	font-size: 0;
	margin-bottom: -100px;
  }
}

.woocommerce-form-coupon-toggle {
  display: none;
}

.woocommerce ul.order_details {
  margin: 20px 0 0 0em;
}