.order-tracking-block {
  max-width: 563px;
  margin: 100px 0 250px 0;

  @media (max-width: 768px) {
    margin: 50px 0 150px 0;
  }

  @media (max-width: 480px) {
    margin: 30px 0 50px 0;
  }

  span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 32px 0;
  }

  label {
    margin-top: 24px;
    display: block;
  }

  input, textarea {
    width: 100%;

    &.err {
      border: 1px solid $red;
    }
  }

  .message {
    font-family: "paralucent-text";
    background: #FFF7EC;
    border-radius: 4px;
    font-size: 16px;
    padding: 20px 12px;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 20px;
  }

  .info-order {
    margin: 40px 0;

    span {
      font-family: "paralucent-text";
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      color: $dark-gray;
    }

    strong {
      font-family: "paralucent-text";
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
      display: block;
    }
  }

  .order-status {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
    margin-left: 13px;

    @media (max-width: 480px) {
      margin-left: 6px;
    }

    &.delivered,
    &.shipping {
      .status-item {
        &:nth-child(3) {
          background: $green url("../images/complete.svg") center no-repeat;
          border: 1px solid transparent;
        }
      }
    }

    &.delivered {
      .status-item {
        &:last-of-type {
          background: $green url("../images/complete.svg") center no-repeat;
          border: 1px solid transparent;
        }
      }
    }

    .line {
      width: 120px;
      display: block;
      height: 4px;
      background: rgba(37, 37, 37, 0.15);

      @media (max-width: 480px) {
        width: 70px;
      }
    }

    .status-item {
      display: block;
      border-radius: 50%;
      border: 1px solid $light-gray;
      width: 61px;
      height: 61px;
      position: relative;
      margin: 0 8px;

      @media (max-width: 480px) {
        width: 46px;
        height: 46px;
        margin: 0 5px;
      }

      &:first-of-type {
        background: $green url("../images/complete.svg") center no-repeat;
        border: 1px solid transparent;
      }

      &:first-of-type:after,
      &:nth-child(3):after,
      &:last-of-type:after {
        font-family: "paralucent";
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        bottom: -45px;
        display: block;
        width: 102px;
        text-align: center;
        left: 50%;
        margin-left: -51px;

        @media (max-width: 480px) {
          font-size: 16px;
        }
      }

      &:first-of-type:after {
        content: 'Processing';
      }

      &:nth-child(3):after {
        content: 'Shipped';
      }

      &:last-of-type:after {
        content: 'Delivered';
      }
    }
  }
}