.type-product {
  .entry-header {
	display: none;
  }
}

div.single-product {
  margin: 100px 0 0 0;

  @include media-breakpoint-down(xs) {
	margin-top: 0;
  }

  .woocommerce-notices-wrapper {
	display: none;
  }

  .select-quantity {
	button {
	  position: relative !important;
	}

	p {
	  line-height: 24px;
	  margin: 0 0 20px 0;
	}

	@media (max-width: 480px) {
	  display: flex;
	  flex-direction: column;

	  .dynamic-price {
		order: 1;
	  }

	  p {
		order: 3;
	  }

	  button {
		order: 2;
		margin: 0 0 24px 0 !important;
	  }
	}
  }

  .dynamic-price {
	margin-bottom: 40px;

	.select-selected {
	  .discount, .piece {
		display: none;
	  }
	}

	.select-selected,
	.select-items div {
	  font-family: "paralucent";
	  font-weight: 300;
	  font-size: 16px;
	  line-height: 20px;
	  color: $black;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding-right: 8px;

	  div {
		padding: 0;
		font-family: "paralucent";

		&.quantity {
		  display: block;
		}

		&.discount {
		  color: $red;
		}
	  }
	}
  }

  .quantity {
	display: none;
  }

  .product-title-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	.product-title {
	  span {
		font-family: "paralucent";
		font-weight: 300;
		font-size: 18px;
		line-height: 20px;
		display: block;
		margin-top: 4px;
		color: $dark-gray;
	  }
	}
	.product-title {
	  span {
		font-family: "paralucent";
		font-weight: 300;
		font-size: 18px;
		line-height: 20px;
		display: block;
		margin-top: 4px;
		color: $dark-gray;
	  }
	}

	.product-price {
	  span.amount {
		font-family: "paralucent";
		font-weight: 500;
		font-size: 28px;
		line-height: 28px;
		display: block;
		text-align: right;

		@media (max-width: 480px) {
		  margin-top: 8px;
		}

		span {
		  font-family: "paralucent";
		  font-weight: 500;
		  font-size: 28px;
		  line-height: 28px;
		}
	  }

	  span.exert {
		font-family: "paralucent";
		font-weight: 300;
		font-size: 18px;
		line-height: 20px;
		color: $red;
		display: block;
		margin-top: 4px;
		text-align: right;
	  }
	}
  }

  .entry-summary {
	width: 397px !important;

	@media (max-width: 480px) {
	  width: 100% !important;
	}
  }

  table.variations {
	display: none;
  }

  .variations-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
  }

  .sizes {
	order: 2;
	width: 50%;

	.select-selected,
	.select-items div {
	  color: $black;
	}
  }

  .color-variation {
	display: flex;
	width: 50%;
	order: 1;
	flex-basis: 100%;
	margin-top: 6px;

	@media (max-width: 480px) {
	  margin-top: 15px;
	}

	span {
	  transition: all 0.3s;
	  display: block;
	  border-radius: 50%;
	  width: 40px;
	  height: 40px;
	  position: relative;
	  border: 1px solid transparent;
	  cursor: pointer;
	  margin-right: 2px;

	  &:hover,
	  &.selected {
		transition: all 0.3s;

		&.black {
		  border: 1px solid $black;
		}

		&.blue {
		  border: 1px solid $blue;
		}

		&.pink {
		  border: 1px solid $pink;
		}

		&.grey {
		  border: 1px solid #A5A5A5;
		}
	  }

	  strong {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -15px 0 0 -15px;
		display: block;
		width: 30px;
		height: 30px;
		background: #A2D6F2;
		border-radius: 50%;
	  }

	  &.black strong {
		background: $black;
	  }

	  &.blue strong {
		background: $blue;
	  }

	  &.pink strong {
		background: $pink;
	  }

	  &.grey strong {
		background: #A5A5A5;
	  }
	}
  }

  .single_add_to_cart_button {
	transition: all 0.3s;
	font-family: "paralucent" !important;
	background-color: $black !important;
	color: $white !important;
	display: block;
	text-align: center;
	font-weight: 500 !important;
	font-size: 20px !important;
	line-height: 40px !important;
	min-height: 40px !important;
	border-radius: 4px !important;
	margin: 24px auto 0 auto !important;
	width: 100%;

	&:hover {
	  transition: all 0.3s;
	  box-shadow: 0px 4px 40px rgba(37, 37, 37, 0.33);
	}
  }
}

.woocommerce-product-gallery__trigger {
  display: none;
}

.flex-viewport {
  width: 481px !important;
  height: 406px!important;

	@media (max-width: 480px) {
		height: 355px!important;
	}

  background: #F8F8F8;
  position: relative;

	img {
		width: 70%!important;
		margin: 0 auto;

		@media (max-width: 480px) {
			width: 50%!important;
		}
	}

  @media (max-width: 480px) {
	width: 420px !important;
	//height: auto!important;
	margin-top: -40px;
	background: #F8F8F8;
  }

  .woocommerce-product-gallery__image {
	//width: 481px!important;
	//height: 406px!important;
	//background-size: cover!important;
	//
	//@media (max-width: 480px) {
	//  width: 400px!important;
	//  height: auto!important;
	//}
	//
	//img {
	//  height: 100% !important;
	//
	//  @media (max-width: 480px) {
	//    height: auto !important;
	//  }
	//}
  }
}

.woocommerce-product-gallery {
  position: relative;
  box-sizing: border-box;
  padding-left: 85px;

  @media (max-width: 480px) {
	padding-left: 0;
	margin-left: -15px;
	width: 110% !important;
	margin-bottom: 0px !important;

  }
}

.flex-control-thumbs {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;

  @media (max-width: 480px) {
	flex-direction: row;
	left: 0;
	right: 0;
	top: auto;
	bottom: -5px;
	justify-content: center;
	background: transparent;;
	z-index: 100;
	position: relative;
	padding-top: 10px !important;
	padding-bottom: 35px !important;
  }

  li {
	width: 63px !important;
	height: 63px !important;
	background: $medium-gray;
	margin-bottom: 12px !important;

	@media (max-width: 480px) {
	  display: block;
	  width: 10px !important;
	  height: 10px !important;
	  background: rgba(37, 37, 37, 0.1);
		border-radius: 50%;
	  margin-left: 6px !important;
	  margin-right: 6px !important;

	  img {
		opacity: 0 !important;
	  }

	  &.active {
		background: rgba(37, 37, 37, 0.5);;
	  }
	}

	img {
	  max-width: 61px;
	  max-height: 61px;


	  &.flex-active {
		transition: all 0.3s;

		border-radius: 4px;
	  }
	}
  }
}

.product-description {
  background: $medium-gray;
  box-sizing: border-box;
  padding: 100px 0 120px 0;

  a {
	color: #00B67A;
  }

  @media (max-width: 480px) {
	padding: 10px 0 50px 0;
	background: transparent;
  }

  .description-block {
	display: flex;
	justify-content: space-between;

	@media (max-width: 480px) {
	  flex-direction: column;
	}

	.description-text {
	  width: 52%;
	  margin-right: 55px;

	  @media (max-width: 480px) {
		width: 100%;
		margin-right: 0px;
		margin-top: 40px;
		order: 2;
	  }

	  h2 {
		font-weight: 500;
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 24px;
	  }

	  img {
		margin: 40px 0;
	  }
	}

	.description-faq {

	  width: 48%;
	  margin-left: 55px;

	  @media (max-width: 480px) {
		width: 100%;
		margin-left: 0px;
		order: 1;
	  }

	  h2 {
		font-weight: 500;
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 24px;

		@media (max-width: 480px) {
		  font-size: 24px;
		}
	  }
	}
  }
}

.accordition-block {
  .item {
	transition: background 0.3s;
	border-bottom: 1px solid $light-gray;
	box-sizing: border-box;
	padding: 0px 0px 16px 0px;
	cursor: pointer;
	margin-bottom: 16px;

	&.opened {
	  h5 {
		background: url("../images/accordition-open.svg") right center no-repeat;
	  }
	}

	h5 {
	  background: url("../images/accordition-close.svg") right center no-repeat;
	  padding-right: 90px;
	  box-sizing: border-box;
	}

	div {
	  transition: color 0.3s;
	  display: none;
	  font-weight: normal;
	  font-size: 16px;
	  padding-right: 25px;
	  box-sizing: border-box;
	  padding-top: 10px;
	}

	&.active {
		div {
			display: block;
		}
	}
  }
}

div.woocommerce-product-gallery__image {
	display: flex!important;
	flex-direction: column!important;
	justify-content: center!important;
	height: 406px;

	@media (max-width: 480px) {
		height: 406px;
	}
}

.flex-viewport figure div a {
	background-size: auto 100%!important;
	background-position: center!important;

	@media (max-width: 480px) {
		background-position: center -50px!important;
		background-size: cover!important;
	}
}

.pswp--open {
	display: none!important;
}