.returns-block {
  max-width: 563px;
  margin: 100px 0 280px 0;

  @media (max-width: 768px) {
    margin: 50px 0 180px 0;
  }

  @media (max-width: 480px) {
    margin: 30px 0 80px 0;
  }

  .address {
    padding-left: 25px;
    margin: 32px 0;
  }

  h3 {
    margin: 50px 0 24px 0;
  }

  div.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    a {
      color: $green;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div.message {
    font-family: "paralucent-text";
    background: #FFF7EC;
    border-radius: 4px;
    font-size: 16px;
    padding: 20px 12px;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 20px;

    a {
      color: $green;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 32px 0;
  }

  label {
    margin-top: 24px;
    display: block;
  }

  input, textarea {
    width: 100%;

    &.err {
      border: 1px solid $red;
    }
  }

  .message {
    font-family: "paralucent-text";
    background: #FFF7EC;
    border-radius: 4px;
    font-size: 16px;
    padding: 20px 12px;
    box-sizing: border-box;
    font-weight: normal;
    line-height: 20px;
  }

  .info-order {
    margin: 24px 0;

    span {
      font-family: "paralucent-text";
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      color: $dark-gray;
    }

    strong {
      font-family: "paralucent-text";
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
      display: block;
    }
  }

  .order-product {
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 24px;



    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
    }

    .product-picture {
      width: 145px;
      height: 145px;
      background-size: cover!important;
      margin-right: 24px;

      @media (max-width: 480px) {
        width: 100px;
        height: 100px;
        margin-right: 10px;
      }
    }

    .content {
      width: 394px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 480px) {
        width: auto;
      }
    }

    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .product-form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        margin: 0;
      }

      .container {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @media (max-width: 480px) {
          font-size: 12px
        }
      }

      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        transition: all 0.3s;
        position: relative;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        border: 1px solid rgba(37, 37, 37, 0.15);
        background: $white;
        margin-right: 8px;

        @media (max-width: 480px) {
          height: 16px;
          width: 16px;
          margin-right: 5px;
        }
      }

      .container:hover input:checked ~ .checkmark:after {
        transition: all 0.3s;
        opacity: 1;
        display: block;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        transition: all 0.3s;
        content: "";
        position: absolute;
        opacity: 0;
        display: none;
        width: 10px;
        height: 10px;
        background: $black;
        left: 50%;
        top: 50%;
        margin-top: -5px;
        margin-left: -5px;

        @media (max-width: 480px) {
          width: 6px;
          height: 6px;
          margin-top: -3px;
          margin-left: -3px;
        }
      }

      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        opacity: 1;
        display: block;
      }

      label {
        font-family: "paralucent-text";
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        display: flex;
        min-width: 50%;
        justify-content: flex-end;
        align-items: center;

        input {
          width: 50px;
          margin: 0;
        }
      }

      .quantity {
        display: flex;
        align-items: center;

        input {
          font-family: "paralucent";
          pointer-events: none;
          border: none;
          background: transparent;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: $black;
          text-align: center;
          width: 34px;
          padding: 0;
          margin: 0;
        }

        .plus,
        .minus {
          display: block;
          border: 1px solid $light-gray;
          border-radius: 50%;
          width: 30px;
          height: 30px;

          @media (max-width: 480px) {
            width: 20px;
            height: 20px;
          }

          &:hover {
            border: 1px solid $green;
          }
        }

        .plus {
          background: url("../images/plus.svg") center no-repeat;
          margin-left: -2px;
        }

        .minus {
          background: url("../images/minus.svg") center no-repeat;
        }
      }
    }

    .info {
      span {
        margin: 0 0 4px 0;

        &.gray {
          color: $dark-gray;
        }
      }
    }
  }
}