.woocommerce-order-received {
  #content {
	padding-top: 5px;

	.post-content {
	  max-width: 513px;
	  margin: 0 auto 0 0;
	}

	.button {
	  font-size: 20px;
	  float: none;
	  width: auto;
	  font-weight: 400;
	  font-family: "paralucent";
	  color: #fff;
	  background-color: #252525;
	  padding: 17px;
	  transition: .3s ease all;
	  margin-bottom: 80px;
	  display: block;
	  min-height: auto;

	  &:hover {
		background: #00B67A;
		box-shadow: 5px 8px 15px 0 #929292;
	  }
	}

	.cart-block {

	  @include media-breakpoint-down(xs) {
		margin-top: 30px;
	  }

	  h4.order-title {
		margin-bottom: 8px;
	  }

	  .cart-items {

		width: 100%;
		margin-right: 0;
		padding-top: 15px;
		margin-bottom: 0;
		.price {
		  font-size: 16px;
		  font-weight: 400;
		  font-family: "paralucent";
		}
	  }

	}

	.order-title,
	.woocommerce-thankyou-order-received {
	  font-family: "paralucent";
	}

	.woocommerce-checkout-review-order-table {
	  transform: translateY(0);
	}

	.woocommerce-thankyou-order-received {
	  font-size: 32px;
	  font-weight: 500;
	  line-height: 40px;
	  margin-bottom: 18px;
	}

	.picture{
	  background-color: rgba(37, 37, 37, 0.03);
	}

	.order-title {
	  font-size: 24px;
	  line-height: 28px;
	  font-weight: 400;
	  margin-bottom: 22px;
	}

	.order_details {
	  padding-left: 0;
	  margin-bottom: 42px;

	  @include media-breakpoint-down(xs) {
		margin-bottom: 0;
	  }

	  li {
		width: 100%;
		border-right: none;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		font-family: "paralucent-text";
		color: $gray;
		text-transform: capitalize;

		.woocommerce-Price-currencySymbol,
		.amount,
		strong {
		  color: $black;
		  font-weight: 700;
		  font-size: 16px;
		  line-height: 1;
		}

		& + li {
		  margin-top: 18px;
		}
	  }
	}
  }
}